body{
	background-image: url(scene.jpg);
	background-size: cover;
}
h1{

	background-color: black;
	color: white;

}
 p
 {
 	font-size: 20px;
 	text-decoration: underline;
 color: red;
 }		
 h2{
 	color: green;
 }
 li{
 	font-size: 30px;
 	color:black;
 	cursor:pointer;
 }
 h4 {
 	color: purple;
 }
 h3 {
 	font-size:30px; 
 	 text-decoration: underline;
 	color: aqua;
 }
 h5 {
 	text-align: right;
 	font-size: 20px;
 	color: red;
 }