body {
	background-image: url(pichn.jpg);
	background-size: cover;
}
h1{
	background-color: blue;
	color: white;
}
  p
 {
 	font-size: 20px;
 color: red;
 }	
 h3{
 	color: red;
 	text-align: right;
 	font-size: 20px;
 }	
